<label>Server Name:
  <input type="text"
         class="form-control"
         [(ngModel)]="serverName">
</label>
<button class="btn btn-primary"
        [disabled]="!allowNewServer"
        (click)="onCreateServer()">
  Add Server
</button>
<!--<p [innerText]="allowNewServer"></p>-->
<!--<p>{{serverName}}</p>-->
<!--<p>{{serverCreationStatus}}</p>-->
<div class="alert alert-success" *ngIf="serverCreated; else noServer">Server was created. Server name is {{serverName}}</div>
<ng-template #noServer>
  <div class="alert alert-danger">No server was created!</div>
</ng-template>
<app-server></app-server>
<app-server></app-server>
