{% extends "templates/base.html" %}
{% block content %}
<label for="txtSides">Sides:</label><input id="txtSides" type="text" width="10" value="6"/>
<a href="javascript:addDie();">Add a die</a>
<div id="dice">
</div>
<input type="hidden" id="unique" value="0"/>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"></script>
<script type="text/javascript">
			$(document).ready(function() {
				$("#txtSides").keypress(function(e) {
					var code = (e.keyCode ? e.keyCode : e.which);
					if (code == 13) {
						addDie();
					}
				});
			});

			function addDie () {
				var sides = document.getElementById('txtSides').value;
				//alert (sides);
				var id = document.getElementById("unique").value;
				$("#dice").append("<div class='section'><p id='die"+id+"'><a href='javascript:roll("+sides+", "+id+");'>Roll "+sides+" sided die</a></p><p class='results' id='result"+id+"'></p></div>");
				id=(id-1)+2;
				document.getElementById("unique").value = id;
			}

			function roll(sides, id) {
				$("#result"+id).html(Math.floor(Math.random()*sides)+1);
			}

</script>

<style type="text/css">
  .section {
  border:2px solid #999;
  background:#efefef;
  margin:10px 0;
  padding:10px;
  width:350px;
  height:3em;
  }
  .section p {
  margin: 0;
  padding:0;
  display:inline-block;
  width:150px;
  line-height:1.5;
  float:left;
  }
  .results {
  font-size:2.0em;
  }
</style>
{% endblock %}
